body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}
nav {
  background-color: #000;
  color: #fff;
  padding: 20px 50px;
}
.nav_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search{
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 5px;
}
.searchInput{
  border: none;
  background-color: transparent;
}
.searchInput::placeholder{
  color: lightgray;
}
.limited_offer{
  font-size: 20px;
  border-bottom: 2px solid rgb(104, 47, 194);
  cursor: pointer;
}
.nav_bottom{
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_item{
  margin-right: 50px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
}